body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: aqua;
}

h1{
    color: blueviolet;
}

button{
   background-color: blue;
   color:bisque;
   padding: 10px 20px;
   border: none;
   font-size: 16px;
   transition: background-color 0.3s;
   border-radius: 5px;
   cursor:pointer;
}

button:hover{
    background-color: darkblue;
}

#color
{
    font-size : 24px;
    font-weight: bold;
    color:aliceblue;
    margin: 20px 0;
}